#calculator-container {
  background-color: #E8F4FF;
  border: 3px solid #000000;
  box-shadow: 4px 4px #9BD;
  font-family: "Georgia", "Calibri", "Trebuchet MS", "Tahoma", sans-serif;
  font-size: 24px;
  height: calc(95vh - 46px);
  margin: 8px;
  padding: 12px;
  width: 500px;
}

#big-grid {
  background-color: #f0f;
  border-collapse: collapse;
  display: grid;
  grid-template-rows: repeat(7, minmax(0,1fr));
  width: 100%;
  height: 100%;
}

#answerDisplay {
  background-color: #FFF;
  border: 1px solid #79B;
  font-family: "Calibri", "Trebuchet MS", "Tahoma", sans-serif;
  letter-spacing: 1px;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: auto;
  padding: 5px 8px;
  text-align: right;
}

#keypad {
  background-color: #F00;
  border-collapse: collapse;
  display: grid;
  grid-row-start: 3;
  grid-row-end: 8;
  grid-template-rows: repeat(5, minmax(0,1fr));
  grid-template-columns: repeat(5, minmax(0,1fr));
  font-size: 3.5vh;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.kpButton {
  border: 1px solid #567;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kpCol1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.kpCol2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.kpCol3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.kpCol4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.kpCol5 {
  grid-column-start: 5;
  grid-column-end: 6;
}

#clearButton {
  background-color: #182850;
  color: #fff;
  grid-row-start: 2;
  grid-row-end: 4;
}

#equalsButton {
  background-color: #fff;
  grid-row-start: 4;
  grid-row-end: 6;
}

.offWhite {
  background-color: #ECF5FF;
}

.ltGray {
  background-color: #CFDAE6;
}

.medGray {
  background-color: #B3BFCC;
}

.App {
  /* background-image: linear-gradient(90deg, #fff 40%, #adf 60%); */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #0f0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #00b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {

  #calculator-container {
    font-size: 3.5vh;
    height: calc(95vh - 46px);
    width: 85vw;
  }

}
